.VideoFrames {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    top: 64px;
    width: 100%;
    height: 100%;
    justify-content: center;
}

@media (max-width:68.75rem){
   .VideoFrames{
    grid-template-columns: 1fr 1fr;
   }
}
@media (max-width:46.875rem){
   .VideoFrames{
    grid-template-columns: 1fr;
   }
}